.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-grey-0);
}

.loader {
  position: relative;
}

.loaderSegment {
  position: absolute;
  border-radius: 3rem;
  background-color: var(--brand-color);
  animation: spinFade 1.2s linear infinite;
}

@keyframes spinFade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.25;
  }
}
/* dark-mode */
:global(:root.dark) .loaderSegment {
  background-color: #d9d9d9;
}
