.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.error img {
  height: 300px;
  margin-bottom: -2rem;
}
.error div {
  text-align: center;
}
.error h4 {
  margin-bottom: 1rem;
}
